/* Glide */ 
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";

/* Google Font */ 
@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap');


/* Variables */
/* Primary Colors */
$primary-beaver: hsl(27, 22%, 51%);
$primary-cod-gray: hsl(0, 0%, 7%);

/* Neutral */ 
$neutral-mirage: hsl(234, 30%, 13%);
$neutral-ebony-clay: hsl(218, 21%, 18%);
$neutral-shuttle-gray: hsl(217, 14%, 42%);

$color-white: #ffffff;
$color-error: #B54949;
$inactive-numbers: #D8D8D8;
$inactive-dropdown: #D8D8D8;

/* Font Weights */
$weight-light: 300;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700; 

/* Breakpoints */
$bp-desktop-begin: 1200px;
$bp-tablet-end: 1199px;
$bp-tablet-begin: 768px;
$bp-mobile-end: 767px;
$bp-mobile-begin: 375px;



* {
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}

*::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    background-color: $primary-cod-gray;
    font-family: "Spartan", sans-serif;
    min-height: 100%;
    min-width: 375px;
    overflow-x: hidden;
}

/* Typography */
/* Headings */
.header1 {
    font-weight: $weight-light;
    color: $color-white;
    @media only screen and (max-width: $bp-mobile-end) {
        font-size: 3.2rem;
        line-height: 1.25;
        letter-spacing: -0.4px;
    }
    @media only screen and (min-width: $bp-tablet-begin) and (max-width: $bp-tablet-end) {
        font-size: 4.8rem;
        line-height: 1.333;
        letter-spacing: -0.6px;
    }
    @media only screen and (min-width: $bp-desktop-begin) {
        font-size: 6.4rem;
        line-height: 1.125;
        letter-spacing: -0.8px;
    }
}

.header2 {
    font-weight: $weight-bold;
    &-black {
        color: $neutral-ebony-clay;
    }
    &-white {
        color: $color-white;
    }
    @media only screen and (max-width: $bp-mobile-end) {
        font-size: 3.2rem;
        line-height: 1.25;
        letter-spacing: -0.5px;
    }
    @media only screen and (min-width: $bp-tablet-begin) and (max-width: $bp-tablet-end) {
        font-size: 4rem;
        line-height: 1.4;
        letter-spacing: -0.4px;
    }
    //stays same for screen-size above
}

.header3 {
    font-size: 1.8rem;
    line-height: 1.556;
    letter-spacing: -0.22px;
    &-white {
        color: $color-white;
        font-weight: $weight-bold;
    }
}
/* Paragraphs */ 
.paragraph1 {
    line-height: 1.667;
    font-weight: $weight-regular;
    @media only screen and (max-width: $bp-mobile-end) {
        font-size: 1.5rem;
        letter-spacing: -0.19px;
    }
    @media only screen and (min-width: $bp-tablet-begin) {
        font-size: 1.8rem;
        letter-spacing: -0.22px;
    }
    //same for desktop
    &-white {
        color: $color-white;
    }
    &-black {
        color: $neutral-ebony-clay;
    }
}

.paragraph2 {
    font-weight: $weight-regular;
    font-size: 1.5rem;
    line-height: 1.867;
    letter-spacing: -0.19px;
    &-white {
        color: $color-white;
    }
    &-black {
        color: $neutral-ebony-clay;
    }
}




