
a .btn {
    color: $color-white;
    text-decoration: none;
}
.btn {
    display: inline-block;
    background: none;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 1.143;
    letter-spacing: 2px;
    padding: 2.3rem 5.3rem;
    text-transform: uppercase;
    cursor: pointer;

    &:visited {
        text-decoration: none;
    }
    
    &-dark {
        color: $color-white;
        background-color: transparent;
        border: 1px solid $color-white;
        &:hover {
            background-color: $color-white;
            color: $primary-cod-gray;
        }
    }
    &-light {
        background-color: $primary-cod-gray;
        color: $color-white;
        border: 1px solid transparent;
        
        &:hover {
            background-color: transparent;
            color: $primary-cod-gray;
            border-color: $primary-cod-gray;
        }
    }
    
}

.hero-btn {
    @media only screen and (max-width: $bp-mobile-end) {
        margin-top: 3.2rem;
    }
    @media only screen and (min-width: $bp-tablet-begin) and (max-width: $bp-tablet-end) {
        margin-top: 2.5rem;
    }
    @media only screen and (min-width: $bp-desktop-begin) {
        margin-top: 4.1rem;
    }
}

/* Form Buttons */


