
.b-header {
    min-width: 37.5rem;
    min-height: 60rem;
    @include flex (column, center);
    background-color: $primary-cod-gray;
    background-image: url(/images/booking/hero-bg-mobile.jpg);
    background-image: image-set(url(/images/booking/hero-bg-mobile.jpg) 1x,
        url(/images/booking/hero-bg-mobile@2x.jpg) 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
    color: $color-white;

    @include md-breakpoint {
        background-image: url(/images/booking/hero-bg-tablet.jpg);
        background-image: image-set(url(/images/booking/hero-bg-tablet.jpg) 1x,
            url(/images/booking/hero-bg-tablet@2x.jpg) 2x);

        @include flex (column, center);
        min-height: 99.2rem;
    }
    @include lg-breakpoint {
        background-image: url(/images/booking/hero-bg-desktop.jpg);
        background-image: image-set(url(/images/booking/hero-bg-desktop.jpg) 1x,
            url(/images/booking/hero-bg-desktop@2x.jpg) 2x);
        min-height: 82rem;
        text-align: left;
    }


    &__container {
       width: 32.7rem;


    }
}

.reservation {
    position: relative;
    min-height: 53.5rem;
    @include flex (column, center);
    
    &__container {
        max-width: 35rem;
        position: relative;
        margin: auto 0;
    }

    &__form {
        height: 58.7rem;
        max-width: 35rem;
        padding: 3.2rem;
        background: $color-white;
        margin-top: -10rem;
        margin-bottom: 10rem;
        box-shadow: 1px 3px 30px $secondary-shuttle-gray;
        @include flex (column, center);
    }
}


.curve {
    display: none;
}

.lines {
    display: none;
}