.event {
   min-height: 57.5rem;
   @include flex (column, space-evenly);
   
   &__container {
       min-width: 20.438rem;
       min-height: 37.5rem;
       margin: 5rem 0 7.75rem 0;
       display: flex;
       flex-direction: column;
   }

   &__photos {
       position: relative;

       .event-photo {
           display: none; 
           box-shadow: $bshadow-1;
       }

       .event-photo--active {
           max-width: 34.1rem;
           max-height: 37.5rem;
       }
   }
    

}







