
.features {
    grid-area: features;
    grid-row: 2;
    min-height: 144.6rem;
    @include flex (column, space-between);
    text-align: center;

    &__container {
        min-height: 68.3rem;
    }
    picture {
        margin-top: -7.2rem;
        position: relative;
    }

    .pattern {
        margin: 2rem 0;
    }
       
}



