
.footer {
    grid-area: footer;
    grid-row-start: 6;
    grid-row-end: 7;
    height: 44rem;
    
}

/* Attribution */
.attribution {
    background-color: $primary-cod-gray;
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: white;
}