
.footer {
    grid-area: footer;
    grid-row: 6;
    height: 44rem;
    
}

/* Attribution */
.attribution {
    height: 5rem;
    margin-top: 5rem;
    background-color: $primary-cod-gray;
    font-size: 11px;
    text-align: center;
    color: white;
    
}

.attribution a {
    color: white;
}