footer {
    min-width: 37.5rem;
    min-height: 43.7rem;
    background-color: $primary-cod-gray;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    @include flex (column, space-evenly);
    row-gap: -1em;
}



/* Attribution */
.attribution {
    background-color: $primary-cod-gray;
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: white;
}