.highlights {
    min-height: 107.5rem;
    background-color: $primary-cod-gray;
    color: $color-white;
    text-align: center;
    padding: 4.5rem 0;

    &__container {
        @include flex (column, center);
        min-width: 20.438rem;
    }

    &__header {
        margin-bottom: 5.188rem;
    }

    &__title {
        font-size: 2rem !important;
        padding: 0 20%;
    }

    &__text {
        font-size: 0.95rem !important;
        padding: 0 17%;
    }

    &__area {
        .menu-text {
            .menu-title {
                padding-top: 2.063rem;
                font-size: 1rem !important;
                //font-weight: $weight-regular !important;
            }
            .menu-paragraph {
                font-size: 1rem !important;
                padding: 0 25%;
            }
        }
    }
}
    

