.events {
    position: relative;
    height: 100%;
    width: 37.5rem;
    margin: auto;

    &__container {
        @include flex (column, space-between);
        padding-bottom: 6rem;

       picture .event__photos  {
            position: relative;
        }

            .event-photo {
            display: none;
            box-shadow: $bshadow-1;
        }

            .event-photo--active {
            max-width: 40rem;
            display: inline-block;
            margin-bottom: 5rem;
            padding-bottom: 2rem;
            z-index: 1;
        }

        .events__slider {
            margin-top: 3rem;
            .events__slider--list {
                text-transform: uppercase;
                position: relative;
                margin-bottom: 3rem;

                .event__item {
                    text-align: center;
                    opacity: 0.7;
                    cursor: pointer;
                    padding: 2rem 0;
                    margin: auto;
                    // -webkit-transition: transform 0.5s 0s ease-in;
                    // -moz-transition: transform 0.5s 0s ease-in;
                    // -o-transition: transform 0.5s 0s ease-in;
                    transition: transform 0.5s 0s ease-in;
                }

                .event__item--active {
                    color: $secondary-ebony-clay;
                    opacity: 1;
                    transform: translateY(1rem);
                }

                .two {
                    margin-bottom: 0.5rem;
                }

                .event__line {
                    width: 4.8rem;
                    height: .1rem;
                    background-color: $primary-beaver;
                    visibility: hidden;
                    margin: 0 auto;
                    padding: 0;
                }

                .event__line--active {
                    visibility: visible;
                    z-index: -5;
                }


            }
        }
        .event__content {
            display: none;
        }

        .event__content--active {
            display: block;
        }

        .event__paragraph {
            padding: 2rem 1rem;
        }
    }


}