.features {
    background-color: $color-white;
    min-height: 145.5rem;
    text-align: center;

    &__container {
        padding: 0 2.4rem 8rem;

        @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
            padding: 0 9.7rem 12rem;
        }

        @media (min-width: $bp-desktop) {
            max-width: 111rem;
            margin: 0 auto;
        }
    }
}