footer {
    min-width: 37.5rem;
    height: 43.7rem;
    background-color: $primary-cod-gray;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    @include flex (column, space-evenly);

    &__address {
        
    }
}



/* Attribution */
.attribution {
    background-color: hsl(27, 22%, 51%);
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: white;
}