.footer {
    height: 60rem;
    margin: 0 auto;
    padding: 8rem 2.4rem;
    text-align: center;
    @include flex (column, space-between);

    &__container {
        @include flex(column, space-around);
        height: 100%;

        &--logo,
        &--address,
        &--hours {
            padding-bottom: 2rem;
        }

        p {
            text-transform: uppercase;
        }
    }
}


/* Attribution */
.attribution {
    position: relative;
    margin-top: 5rem;
    padding: 5px 0;
    font-size: 11px;
    text-align: center;
    color: $secondary-shuttle-gray;
}

.attribution a {
    color: $primary-beaver;
    margin-top: 2rem;
}

.attribution a:hover {
    color: $color-white;
}