
.footer {

    /* Attribution */
    .attribution {
        height: 5rem;
        margin-top: 5rem;
        padding-top: 3rem;
        background-color: $primary-cod-gray;
        font-size: 11px;
        text-align: center;
        color: white;

    }

    .attribution a {
        color: white;
    }
    
}

