.booking {
    position: relative;

    .bk__header {
        height: 60rem;
        @include flex (column, center);
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (max-width: $bp-mobile) {
            height: 60rem;
            background-image: url(/images/booking/hero-bg-mobile@2x.jpg);
        }

        @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
            height: 60rem;
            background-image:url(/images/booking/hero-bg-tablet@2x.jpg);
        }

        @media (min-width: $bp-desktop) {
            height: 60rem;
            background-image: url(/images/booking/hero-bg-desktop@2x.jpg);
        }

    }

    .reservation__container {
        position: relative;
        background-color: $color-white;

        @media (max-width: $bp-mobile) {
            height: 53.4rem;
        }

        @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
            height: 43.5rem;
        }

        @media (min-width: $bp-desktop) {
            height: 32rem;
            background-repeat: no-repeat;
            background-image: url(/images/patterns/pattern-curve-bottom-right.svg);
        }
    }
}



.bk__footer {
    height: 60rem;
    margin: 0 auto;
    padding: 8rem 2.4rem;
    text-align: center;
    color: $color-white;
    @include flex (column, space-between);

    &--container {
        @include flex(column, space-around);
        width: 90vw;
        height: 100%;
        text-transform: uppercase;


    }

    /* Attribution */
    .attribution {
        position: relative;
        margin-top: 5rem;
        padding: 5px 0;
        font-size: 11px;
        text-align: center;
        color: $secondary-shuttle-gray;
    }

    .attribution a {
        color: $primary-beaver;
        margin-top: 2rem;
    }

    .attribution a:hover {
        color: $color-white;
    }
}