.bk__main {
    position: relative;
    width: 100%;

    .bk__header {
        height: 60rem;
        position: relative;
        @include flex (column, center);
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (max-width: $bp-mobile) {
            background-image: url(/images/booking/hero-bg-mobile@2x.jpg);
        }

        @media (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end)  {
            background-image: url(/images/booking/hero-bg-tablet@2x.jpg);
        }

        @media (min-width: $bp-desktop) {
            background-image: url(/images/booking/hero-bg-desktop@2x.jpg);
        }

        &--container {
            min-width: 32.7rem;
            height: 100%;
            @include flex (column, center);
            row-gap: 2rem;
            padding: 2rem 0 auto;

            .bk__header--logo {
                transform: translateY(-8rem);
            }
            
            .bk__header--title {
                transform: translateY(-5rem);
                margin: 0 auto;
            }

            .bk__header--text {
                transform: translateY(-4rem);
                padding: 0 4rem;
            }

            .bk__header--button {
                margin-bottom: 5rem;
            }
        }

    }

    .reservation {
        position: relative;
        min-height: 53.4rem;
        color: $primary-cod-gray;
        @include flex(column, center);

        &__container {
            height: 58.5rem;
            max-width: 54rem;
        }
        &__form {
            height: 58.5rem;
            max-width: 32.7rem;
            padding: 3rem;
            margin-bottom: 10rem;
            background: $color-white;
            transform: translateY(-10rem);
            @include flex (column, center);
        }

        .form {
            &__input {
               border: none;
               border-bottom: 1px solid $secondary-ebony-clay;
               font-size: 1.8rem;
               line-height: 2.8rem;
               letter-spacing: -0.0225rem; 
               color: inherit;
               cursor: pointer;
            }

            &__input::placeholder {
                font-size: inherit;
                line-height: inherit;
                letter-spacing: inherit;
                color: inherit;
            }

            &__field {
                margin: 0 auto;
                margin-bottom: 3.2rem;
            }

            &__field--text {
                width: 100%;

                .form__input {
                    display: block;
                    width: 100%;
                    height: 4.5rem;
                    padding: 0.5rem 0;
                }
            }

            &__field--number {
                width: 100%;
                height: 8.1rem;
                position: relative;

                label {
                    color: inherit;
                    font-family: inherit;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    letter-spacing: -0.0225rem;
                    text-align: left;
                    //margin-right: 20rem;
                }
                .form__field-box {
                    position: relative;
                    @include flex (row, center);

                    .form__input {
                        width: 30%;
                        padding: 0.5rem;
                        margin: 0 0.3rem;
                        text-align: left;
                        cursor: pointer;   
                    }
                    .am-pm {
                        position: relative;
                        min-width: 8rem;
                        border-bottom: none;

                        &::after {
                            content: url("/images/icons/icon-arrow.svg");
                            color: $primary-beaver;
                            right: 2rem;
                            top: 1rem;
                            height: 3.4rem;
                            position: absolute;
                        }

                        select {
                            appearance: none;
                            width: 100%;
                            max-width: 30rem;
                            height: 4rem;
                            line-height: 2.8rem;
                            font-size: inherit;
                            font-weight: $weight-regular;
                            color: inherit;
                            border: none;
                            border-bottom: 1px solid $secondary-ebony-clay;
                            padding-left: .5rem;
                        }
                    }
                }
                
            }
        }

        
    }
}



.bk__footer {
    height: 60rem;
    margin: 0 auto;
    padding: 8rem 2.4rem;
    text-align: center;
    color: $color-white;
    @include flex (column, space-between);

    &--container {
        @include flex(column, space-around);
        width: 90vw;
        height: 100%;
        text-transform: uppercase;


    }

    /* Attribution */
    .attribution {
        position: relative;
        margin-top: 5rem;
        padding: 5px 0;
        font-size: 11px;
        text-align: center;
        color: $secondary-shuttle-gray;
    }

    .attribution a {
        color: $primary-beaver;
        margin-top: 2rem;
    }

    .attribution a:hover {
        color: $color-white;
    }
}