/* Mobile First Design */

.hero {
   grid-area: hero;
   grid-row: 1;
   min-height: 74.8rem;
   min-width: 37.5rem;
   text-align: center;
   background-image: url(/images/homepage/hero-bg-mobile.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;

   
   

   &__container {
     height: 38.4rem;
     position: relative;
     top: 23.2rem;  
     //@include flex (column, space-evenly);
      //align-content: center;

      
     
   }

   &__logo {
      padding-top: 2rem;
      width: 10.3rem;
      height: 4rem;
   }

   &__title {
      padding-left: 2rem;
      padding-right: 2rem;
   }

   &__text{
      padding-left: 2rem;
      padding-right: 2rem;
   }

   &__button {
      
   }

}

/* Media Queries */ 
  