
.hero {
    height: 74.8rem;
    width: 100%;
    text-align: center;
    grid-area: hero;
    grid-row: 1;
    background-image: url(/images/homepage/hero-bg-mobile.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-tablet {
        height: 99.2rem;
        background-image: url(/images/homepage/hero-bg-tablet.jpg);
    }

    @include respond-desktop {
        height: 96rem;
        text-align: left;
        background-image: url(/images/homepage/hero-bg-desktop.jpg);
    }

}
    
