.highlights {
    min-width: 32.7rem;
    min-height: 172.0rem;
    background: $primary-cod-gray;
    color: $color-white;
    margin: auto;
    text-align: center;

    &__container {
        width: 32.7rem;
        margin: auto;
        padding-top: 6.9rem;
    }
    &__header {
        padding-bottom: 5.5rem;
    }
    &__pattern,
    &__title  {
        padding-bottom: 2.5rem;
    }
    
}
.menu-items {
    
}