.highlights {
    height: 172.0rem;
    background-color: $primary-cod-gray;
    color: $color-white;
    text-align: center;
    padding: 5rem 0;

    &__container {
        @include flex(column, center);
        flex-wrap: wrap;
        width: 32.7rem;
        margin: auto;
    }
}
