.highlights {
    height: 172.0rem;
    background-color: $primary-cod-gray;
    color: $color-white;
    text-align: center;
    padding: 7rem 0;

    &__container {
        @include flex(column, center);
        flex-wrap: wrap;
        width: 32.7rem;
        margin: auto;
    }

    &__header {
        margin-bottom: 6rem;
    }

    &__title {
        padding: 2rem 0;
    }
}

.menu-text {
    
}

.menu-title {
    padding-top: 2.4rem;
}

.menu-paragraph {
    margin-bottom: 2rem;
    padding: 0 1.6rem 2.4rem;
    border-bottom: 1px $secondary-ebony-clay solid;
}

.menu-paragraph:last-child {
    
}
