/* Mobile First Design */

.intro {
    min-width: 37.5rem;
    min-height: 74.8rem;
    background: $secondary-mirage;
    background-image: url(/images/homepage/hero-bg-mobile.jpg);
    background-image: image-set(
        url(/images/homepage/hero-bg-mobile.jpg) 1x, 
        url(/images/homepage/hero-bg-mobile@2x.jpg) 2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;

    @include md-breakpoint {
       background-image: url(/images/homepage/hero-bg-tablet.jpg); 
       background-image: image-set(
           url(/images/homepage/hero-bg-tablet.jpg) 1x,
           url(/images/homepage/hero-bg-tablet@2x.jpg) 2x
       );
       min-height: 99.2rem;
    }

    @include lg-breakpoint {
        background-image: url(/images/homepage/hero-bg-desktop.jpg);
        background-image: image-set(
            url(/images/homepage/hero-bg-desktop.jpg) 1x,
            url(/images/homepage/hero-bg-desktop@2x.jpg) 2x
        );
        min-height: 82.4rem;
        text-align: left;
    }

    &__column {
        width: 90%;
        max-width: 35rem;
        height: 38.5rem;
        position: relative;
        top: 24.5rem;
        @include flex(column, space-between);
    }
    &__title {
        color: $color-white;
    }
    &__text {
        color: $color-white;
    }
    
}
