
.bk__main {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "section"
    "footer";

    width: 100%;

    
}

    
.bk__header {
    grid-area: header;
    grid-row: 1;
    min-height: 60rem;
    position: relative;

    background-image: url(/images/homepage/ready-bg-mobile.jpg);
    background-image: image-reset(url(/images/homepage/ready-bg-mobile.jpg) 1x,
        url(/images/homepage/ready-bg-mobile@2x.jpg) 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--container {
        min-width: 32.7rem;
        min-height: 40rem;
        @include flex (column, space-evenly);
        align-content: space-between;
        margin: 5rem 0 auto;

        .bk__header--title {
           padding: 2rem 2rem 0;
           margin: 0 auto; 
        }

        .bk__header--paragraph {
            padding: 0 3rem;
        }

        .bk__header--button {
            margin-bottom: 2rem;
        }
    }   
    
}

.reservation {
    grid-area: section;
    grid-row: 2;
    min-height: 58.5rem;
    position: relative;
    color: $primary-cod-gray;

    &__container {
        width: 90%;
        max-width: 35rem;
        margin: 0 auto;
        position: relative;
    }

    &__form {
        height: 58.5rem;
        max-width: 32.7rem;
        background: $color-white;
        padding: 3.2rem;
        margin-top: -10rem;
        margin-bottom: 10rem;
        box-shadow: $bshadow-1;
        @include flex(column, center);
    }

    .form {
    
    }

    
   
}



.bk__footer {
    grid-area: footer;
    grid-row: 3;
    max-height: 44rem;
    height: 100%;
}


