/* Glide */
/*@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss"; */

.slider {
    min-width: 37.5rem;
    min-height: 104.5rem;

    &__container {
        min-height: 8.4rem;
    }
}