
.cta {
    grid-area: cta;
    grid-row: 5;
    height: 32.8rem;
    color: $color-white;

    background-image: url(/images/homepage/ready-bg-mobile.jpg);
        background-image: image-reset(
            url(/images/homepage/ready-bg-mobile.jpg) 1x,
            url(/images/homepage/ready-bg-mobile@2x.jpg) 2x
        );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}