
.cta {
    min-width: 37.5rem;
    height: 33rem;
    background-image: url(/images/homepage/ready-bg-mobile.jpg);
    background-image: image-set(
        url(/images/homepage/ready-bg-mobile.jpg) 1x, 
        url(/images/homepage/ready-bg-mobile@2x.jpg)2x
    );
    background-repeat: no-repeat;
    background-size: cover;
    
    @include flex (column, center);
    align-items: center;

    &__title {
        color: $color-white;
        text-align: center;
        margin-bottom: 28px;
    }

}