/* Reset */

:root {
    color-scheme: light dark;
}

html {
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body,
#root,
#root *,
#root ::before,
#root ::after {
    box-sizing: border-box;
    margin: 0;
    //display: grid;
    place-content: center;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    overflow-wrap: break-word;
    min-width: 0;
    font-size: 10px;
}

body,
#root {
    min-height: 100vh;
    min-width: 100%;
}

body {
    margin: 0;
    font-size: 10px;
    font-family: system-ui;
    text-rendering: optimizeSpeed;
    line-height: 1.2;
}

a {
    text-decoration-skip-ink: auto;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

li {
    list-style-type: none;
}

picture, img {
    max-width: 100%;
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



/* Base Styles */
* {
    outline: 1px solid black;
}

.main {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    grid-template-areas: 
        "hero"
        "features"
        "highlights"
        "events"
        "cta"
        "footer";
    
    width: 100%;
}

/* Typography */

h1,
h2,
h3,
body {
    font-family: $spartan;
}

h1.light {
    font-size: 6.4rem;
    font-weight: $weight-light;
    line-height: 7.2rem;  
    letter-spacing: -0.8;
}

h1.regular {
    font-size: 6.4rem;
    font-weight: $weight-regular;
    line-height: 7.2rem;
    letter-spacing: -0.8;
}

h2.regular  {
   font-size: 4rem; 
   font-weight: $weight-regular;
   line-height: 5.6rem;
   letter-spacing: -0.5;
}

h2.bold {
    font-size: 4rem;
    font-weight: $weight-bold;
    line-height: 5.6rem;
    letter-spacing: -0.5;
}

h2.medium {
    font-size: 3.2rem;
    font-weight: $weight-regular;
    line-height: 4rem;
    letter-spacing: -0.5;
}

h3.regular {
    font-size: 1.8rem;
    font-weight: $weight-regular;
    line-height: 2.8rem;
    letter-spacing: -0.22;
}

h3.bold {
    font-size: 1.8rem;
    font-weight: $weight-bold;
    line-height: 2.8rem;
    letter-spacing: -0.22;
}

h3.semi-bold {
    font-size: 1.4rem;
    font-weight: $weight-semi-bold;
    line-height: 2.8rem;
    letter-spacing: +2;
}

p.one {
    font-size: 1.8rem;
    font-weight: $weight-regular;
    line-height: 3rem;
    letter-spacing: -0.22;
}

p.two {
    font-size: 1.4rem;
    font-weight: $weight-regular;
    line-height: 2.8rem;
    letter-spacing: 0.19;
}

/* Design Elements */ 
.hero,
.highlights,
.footer {
    background-color: $primary-cod-gray;
    color: $color-white;
}

.bk__header {
    color: $color-white;
}
.curve-left,
.curve-right,
.lines {
    display: none;
    @include respond-md {
        display: block;
    }
}

/* Buttons */

.button {
    display: inline-block;
    max-width: 23.9rem;
    max-height: 65px;
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $color-white;
    border: 1px solid $color-white;
    transition: $transition;

    &:hover,
    &:active {
        color: $primary-cod-gray;
        background-color: $color-white;
    } 

    &:disabled {
        color: $primary-cod-gray;
        border: 1px solid $secondary-shuttle-gray;
    }

    @include respond-md {
        width: 24.6rem;
    }
}

.button--dark {
    background-color: $primary-cod-gray;
    color: $color-white;
    border: 1px solid $color-white;

    &:hover {
        color: $primary-cod-gray;
        background: $color-white;
        border: 1px solid $secondary-ebony-clay;
    }
}

.button--transparent {
    color: $color-white;
    background: inherit;
    border: 1px solid $color-white;

    &:hover {
        background: $primary-cod-gray;
        color: $color-white;
    }
}

.button--submit {
    display: block;
    max-width: 30.3rem;
    width: 100%;
    margin: 0 auto;
}

