
/* Condensed Universal Reset */
* {
    box-sizing: inherit;
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-size: 100%;
    border: 0 none;
    padding: 0;
    margin: 0;
    outline: 1px solid black;
}

*::before,
*::after {
    box-sizing: inherit;
}

/* Additional Reset */

html {
    position: relative;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    outline: 1px solid black;
    overflow-x: hidden;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

picture, img {
    display: inline-block;
}

li {
    list-style-type: none;
}


/* Base Styles */
.curve-left, .curve-right, .lines {
    @include sm-breakpoint;
    display: none;
}

.button {
    display: inline-block;
    max-width: 24.3rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.8px;
    height: 6.7rem;
    padding: 2.4rem 5.4rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $color-white;
    border: 1px solid $color-white;
    transition: $transition;

    &:hover, 
    &:active {
        color: $primary-cod-gray;
        background-color: $color-white;
    }
    &:disabled {
        color: $primary-cod-gray;
        border: 1px solid $secondary-shuttle-gray;
    }

    @include md-breakpoint {
        width: 24.6rem;
    }
 }

 .button--dark {
     background-color: $primary-cod-gray;
     color: $color-white;
     border: 1px solid $color-white;
     &:hover {
         border: 1px solid $secondary-ebony-clay;
     }
 }

 .button--submit {
     display: block;
     max-width: 30.3rem;
     width: 100%;
     margin: 0 auto;
 }

