
@mixin flex ($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: center;
}

// Attribute: Paul Duvall, Sass and Media Queries
