h1, h2, h3, body {
    font-family: $spartan;
}

// H1 styles

h1 {
    font-size: 6.4rem;
    line-height: 7.2rem;
    font-weight: $weight-light;
}
// H2 styles

.bold-h2 {
    font-size: 4.0rem;
    line-height: 5.6rem;
    font-weight: $weight-bold;
}

.regular-h2{
    font-size: 3.0rem;
    line-height: 3.7rem;
    font-weight: $weight-regular;
} 

// H3 Styles

.bold-h3 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: $weight-bold;
}

.semi-bold-h3 {
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: $weight-semi-bold;
}

// Body styles

.body-1 {
    font-size: 1.8rem;
    line-height: 3.0rem;
    font-weight: $weight-regular;
}

.body-2 {
    font-size: 1.45rem;
    line-height: 2.4rem;
    font-weight: $weight-regular;
}

