h1, h2, h3, body {
    font-family: $spartan;
}

// H1 styles

h1 {
    font-size: 6.4rem;
    line-height: 7.2rem;
    font-weight: $weight-light;
}
// H2 styles

.bold-h2 {
    font-size: 3.2rem;
    font-weight: $weight-bold;
    line-height: 4rem;
    letter-spacing: -0.4px;
}

.regular-h2 {
    font-size: 3.2rem;
    line-height: 3.7rem;
    font-weight: $weight-regular;
}


// H3 Styles

.bold-h3 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: $weight-bold;
}

.semi-bold-h3 {
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: $weight-semi-bold;
    letter-spacing: 2px;
}

// Body styles

body {
    font-family: $spartan;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.19px;
    font-weight: $weight-regular;
     
    @include md-breakpoint {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.22px;
        font-weight: $weight-regular;
    }
}

.paragraph {
    font-size: 1.5rem;
    font-weight: $weight-regular;
    letter-spacing: 0.19px;
    line-height: 2.8rem;
}


