h1, h2, h3, body {
    font-family: $spartan;
}


h1 {
    font-size: 6.4rem;
    line-height: 7.2rem;
    font-weight: $weight-light;
}

h2 {
    font-size: 4.0rem;
    line-height: 5.6rem;
    font-weight: $weight-bold;
}

h2 .regular{
    font-size: 3.0rem;
    line-height: 3.6rem;
    font-weight: $weight-regular;
}

h3 .bold {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: $weight-bold;
}

h3 .semi-bold {
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: $weight-semi-bold;
}

body .body-1 {
    font-size: 1.8rem;
    line-height: 3.0rem;
    font-weight: $weight-regular;
}

body .body-2 {
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: $weight-regular;
}

