/* Variables */ 

/* Colors */
/* Primary */ 
$primary-beaver: #9e7166;
$primary-cod-gray: #111111;

/* Secondary */
$secondary-mirage: #17192b;
$secondary-ebony-clay: #242b37;
$secondary-shuttle-gray: #5c6779;

/* Breakpoints */ 
$breakpoint-sm: 57.6rem;
$breakpoint-md: 76.8rem;
$breakpoint-lg: 99.2rem;
$breakpoint-xl: 120rem;


