/* Variables */ 

/* Colors */
/* Primary */ 
$primary-beaver: #9e7166;
$primary-cod-gray: #111111;

/* Secondary */
$secondary-mirage: #17192b;
$secondary-ebony-clay: #242b37;
$secondary-shuttle-gray: #5c6779;

$color-white: #ffffff;
$color-error: #B54949;
$active-text-field: #111111;
$inactive-numbers: #D8D8D8;
$inactive-dropdown: #D8D8D8;

/* Box Shadow */ 
$bshadow-1: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5);
$bshadow-2: 0 1.5rem 2.5rem 0 rgba(56, 66, 85, 0.55);
$bshadow-3: 0 2.7rem 4.7rem -7rem rgba(0,0,0,0.75);
$bshadow-4: 0 7.5rem 10rem -5rem rgba(255, 255, 255, 0.5);
;

/* Fonts */
// Variables
$font-family: 'Spartan', sans-serif;
$weight-light: 300;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

/* Breakpoints */
$bp-desktop: 1025px;
$bp-tablet-end: 1024px;
$bp-tablet-start: 768px;
$bp-mobile: 767px;


/* Design Elements */
$transition: all 0.2s;

