//Mixin for styles that will be reused in all stylesheets

@mixin flex ($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: center;
}

@mixin respond-mobile {@media screen and (max-width: $bp-end-mobile)    {
    @content;
    }
}

@mixin respond-tablet {
    @media screen and (min-width: $bp-start-tablet) and (max-width: $bp-end-tablet) {
        @content;
    }
}

@mixin respond-desktop {
    @media screen and (min-width: $bp-desktop) {
        @content;
    }
}