//Mixin for styles that will be reused in all stylesheets

@mixin flex ($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: center;
}

@mixin respond-small {
    @media only screen and (min-width: 48.1rem) and (max-width: 76.7rem) {
        @content;
    }
}

@mixin respond-medium {
    @media only screen and (min-width: 76.8rem) and (max-width: 102.4rem) {
        @content;
    }
}

@mixin respond-large {
    @media only screen and (min-width: 102.5rem) and (max-width: 120rem) {
        @content;
    }
}