//Mixin for styles that will be reused in all stylesheets

@mixin flex ($direction, $justifyContent) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: center;
}

@mixin mobile-bp {
    @media screen and (min-width: $mobile-sm-bp) and (max-width: $mobile-end-bp) {
        @content;
    }
}

@mixin tablet-bp {
    @media screen and (min-width: $tablet-start-bp) and (max-width: $tablet-end-bp) {
        @content;
    }
}

@mixin desktop-bp  {
    @media screen and (min-width: $desktop-bp) {
        @content;
    }
}