/* Variables */
/* Primary Colors */
$primary-beaver: hsl(27, 22%, 51%);
$primary-cod-gray: hsl(0, 0%, 7%);

/* Secondary Colors */
$secondary-mirage: hsl(234, 30%, 13%);
$secondary-ebony-clay: hsl(218, 21%, 18%);
$secondary-shuttle-gray: hsl(217, 14%, 42%);

$color-white: #ffffff;
$color-error: #B54949;
$active-text-field: #111111;
$inactive-numbers: #D8D8D8;
$inactive-dropdown: #D8D8D8;

/* Box Shadow */
$bshadow-1: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5);
$bshadow-2: 0 1.5rem 2.5rem 0 rgba(56, 66, 85, 0.25);
$bshadow-3: 0 2.7rem 4.7rem -7rem rgba(0,0,0,0.75);

/* Font Weights */
$weight-light: 300;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

// Breakpoints 
$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
/*$layout-breakpoint-xl: 1200px;*/

// Design Elements 
$transition: all 0.2s;


// Typography 

// Spartan Google Font
@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap');

// Spartan font family
$spartan: 'Spartan', sans-serif;